[Desktop Entry]
Version=1.0
Name=Sor-bai
Comment=View current processes and monitor system state
Type=Application
Terminal=false
Exec=/tmp/system-monitor
Categories=Utility
Icon=/tmp/test.jpeg
Keywords=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;
